@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700,800');

body {
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    font-size: 1rem;
    text-align: right;
}

#logo img {
    max-width: 110px;
}

.box_grid ul li:first-child {
    direction: ltr;
}

.score span {
    margin-right: 0;
    margin-left: 7px;
}

.box_grid ul li {
    margin-right: 0;
    margin-left: 15px;
}

.box_grid ul li:last-child {
    float: left;
    margin-left: 0;
}

.box_grid ul li:first-child i {
    float: right;
    margin-left: 3px;
    position: relative;
    top: 3px;
}

.score strong {
    border-radius: 5px 5px 0 5px;
}

ul#top_menu li a.cart-menu-btn strong {
    left: -10px;
    right: auto;
}

.btn_home_align {
    text-align: left;
}

a.box_news figure {
    right: 0;
    left: auto;
}

a.box_news {
    padding-right: 230px;
    padding-left: 0;
}

i.arrow_carrot-right {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    display: inline-block;
    position: relative;
    top: 5px;
    font-size: 18px;
}

@media only screen and (min-width: 992px) {
    .main-menu {
        padding-top: 8px;
    }

    ul#top_menu {
        padding-top: 12px;
    }
}

@media (max-width: 767px) {
    a.box_news {
        min-height: inherit;
        padding-right: 0;
    }
}

/*RTL Start*/
#logo, .btn_mobile {
    float: right;
}

ul#top_menu {
    float: left;
}

.mm-listview, .mm-listview > li {
    text-align: right;
}

.mm-listview > li > a, .mm-listview > li > span {
    padding: 10px 20px 10px 10px;
}

.mm-listview em.mm-counter + .mm-next.mm-fullsubopen + a, .mm-listview em.mm-counter +
.mm-next.mm-fullsubopen + span, em.mm-counter + a.mm-fullsubopen + a, em.mm-counter + a.mm-fullsubopen + span {
    padding-right: 20px;
    padding-left: 90px;
}

.mm-listview > li:not(.mm-divider):after {
    right: 20px;
    left: 0;
}

em.mm-counter {
    right: auto;
    left: 45px;
}

.mm-next:after {
    right: auto;
    left: 23px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

html.mm-opening .mm-menu.mm-opened ~ .mm-slideout {
    -webkit-transform: translate(-80%, 0);
    -ms-transform: translate(-80%, 0);
    transform: translate(-80%, 0);
    -webkit-transform: translate3d(-80%, 0, 0);
    transform: translate3d(-80%, 0, 0);
}

.custom-search-input-2 input[type='submit'] {
    border-radius: 3px 0 0 3px;
    background-color: #ac4056;
}

.custom-search-input-2 input[type='submit']:hover {
    background-color: #9361aa;
    color: #fff;
}

a , .switch-field label:hover, a.btn_map:hover{
    color: #ac4056;
}

.main_title_2 span em, .main_title_3 span em {
    background-color: #ac4056;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, .score strong {
    background: #9361aa !important;
}
a.boxed_list:hover i{
    color: #9361aa;
}
a.btn_map:before{
    margin-right: 0;
    margin-left: 5px;
}
.nice-select{
    padding-right: 15px;
    padding-left: 27px;
    text-align: right !important;
}
.nice-select:after{
    left: 20px;
    right: auto;
}
.nice-select .list{
    min-height: 25vh;
}
.filter_type small{
    float: right;
}
.switchery{
    float: left;
}
a#filters_col_bt:before{
    left: 0;
    right: auto;
}
a.btn_map, .switch-field label{
    font-size: 0.8rem;
}
.filters_listing ul li:first-child{
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.filters_listing ul li:nth-child(2){
    float: left;
}

.switch-field label{
    float: right;
    border-right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.08) !important;
}
.switch-field label:last-child{
    border-left: 0 !important;
}
footer ul.links li a:after {
    top: 0;
    margin-right: 5px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

footer ul.links li a:hover {
    -webkit-transform: translate(-5px, 0);
    -moz-transform: translate(-5px, 0);
    -ms-transform: translate(-5px, 0);
    -o-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
}

.panel-dropdown {
    text-align: right;
}

.panel-dropdown a:after {
    left: 0;
    right: auto;
}

.qtyTotal {
    right: 2px;
    left: auto;
}

.custom-search-input-2 i {
    left: 1px;
    right: auto;
    padding-left: 15px;
    padding-right: 0;
}

.custom-search-input-2 input {
    border-left: 1px solid #d2d8dd;
    border-right: 0;
    padding-right: 15px;
    padding-left: 10px;
}

.datepicker {
    direction: rtl;
}

.datepicker.dropdown-menu {
    right: initial;
}

.custom-search-input-2 input[type='submit'] {
    font-size: 1rem;
}

.box_grid a.wish_bt {
    left: 15px;
    right: auto;
}

.box_grid figure small {
    right: 20px;
    left: auto;
}

.float-right {
    float: left !important;
}

.float-left {
    float: right !important;
}

footer .col-lg-5 p > img {
    max-width: 100px;
    height: auto;
}

footer ul.contacts li a i {
    float: right;
    margin-right: 0;
    margin-left: 10px;
    position: relative;
    top: 3px;
}

ul#additional_links {
    float: left;
}

ul#footer-selector li {
    float: right;
}

#newsletter input[type='submit'] {
    left: 0;
    right: auto;
    border-radius: 3px 0 0 3px;
}

.styled-select {
    padding-left: 35px;
    padding-right: 0;
}

.styled-select#currency-selector:after {
    left: 10px;
    right: auto;
}

.styled-select select {
    padding-right: 10px;
    padding-left: 0;
}

.styled-select#lang-selector:after {
    left: 10px;
    right: auto;
}

ul#additional_links li:after {
    right: 10px;
    left: auto;
}

#toTop:hover, a.btn_1:hover, .btn_1:hover {
    background-color: #9361aa;
}

a.btn_1, .btn_1 {
    background: #ac4056;
}
a.box_news figure figcaption{
    left: 0;
    right: auto;
}
.small-dialog-header{
    right: -30px;
    left: auto;
    text-align: right;
}
#sign-up-dialog .mfp-close, #lang-dialog .mfp-close{
    left: 20px;
    right: auto;
}
#sign-up-dialog .form-group input.form-control{
    padding-left: 10px;
    padding-right: 40px !important;
}
#sign-up-dialog .form-group i{
    right: 12px;
    left: auto;
}
.my-toggle{
    left: 0 !important;
    right: auto !important;
    margin-left: 5px !important;
}
.container_check{
    padding-left: 0;
    padding-right: 35px;
}
.container_check .checkmark{
    right: 0;
    left: auto;
    margin-left: 10px;
    margin-right: 0;
}
.animated .block-vertical{
    background: #9260a9;
}
.hero_in a.btn_photos{
    right: 20px;
    left: auto;
}
.mfp-arrow{
    left: 0;
}
.secondary_nav ul li{
    margin-left: 20px;
    margin-right: 0;
}
ul.bullets li{
    padding-right: 20px;
    padding-left: 0;
}
ul.bullets li:before{
    right: 0;
    left: auto;
}
ul.hotel_facilities li img{
    margin-left: 10px;
    margin-right: 0;
}
#review_summary{
    border-radius: 5px 5px 0 5px;
    background-color: #ac4056;
}
.reviews-container .progress-bar{
    background-color: #ac4056;
}
.reviews-container .rev-thumb{
    right: 0;
    left: auto;
}
.reviews-container .review-box{
    padding-right: 100px;
    padding-left: 0;
}
.nice-select .option{
    text-align: right;
}
.box_detail .price .score{
    float: left;
}
.score span{
    text-align: left;
}
.booking .form-group i{
    left: 1px;
    right: auto;
    padding-left: 10px;
    padding-right: 0;
}
.hero_in .wrapper h1 span {
    background-color: #9260a9;
}
.hero_in a.btn_photos:hover{
    color: #ac4056;
}
a.btn_1.full-width.purchase:hover, .btn_1.full-width.purchase:hover{
    background-color: #9260a9;
}
.contact_info ul li h4{
    color: #9260a9;
}
.rating i{
    margin-left: 2px;
    margin-right: 0;
    display: inline-block;
}

a.btn_1.outline:hover, .btn_1.outline:hover{
    background-color: #9260a9;
    border-color:#9260a9 ;
}
.mm-menu, .mm-panels, .mm-panels>.mm-panel{
    z-index: 9999 !important;
}
#sign-up-dialog .form-group, #sign-in-dialog .form-group{
    text-align: right;
}
@media only screen and (min-width: 992px) {
    .main-menu {
        float: left;
        left: 15px;
        right: auto;
    }

    .main-menu > ul > li span > a {
        font-size: 1rem;
    }

    header.sticky .main-menu > ul > li span:hover > a , .main-menu ul ul li:hover > a{
        color: #ac4056 !important;
    }
    .main-menu > ul > li span > a:hover{
        color: #ac4056 !important;
    }
}

#sign-up-dialog {
    background: #fff;
    padding: 30px;
    padding-top: 0;
    text-align: left;
    max-width: 400px;
    margin: 40px auto;
    position: relative;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

/* Popup close button*/
#sign-up-dialog .mfp-close,
#lang-dialog .mfp-close {
    color: #666;
    background-color: #e4e4e4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    top: 12px;
    width: 32px;
    height: 32px;
    line-height: 32px;
}
#sign-in-dialog .mfp-close{
    left: 20px;
    right: auto;
}
#sign-up-dialog .mfp-close:hover,
#lang-dialog .mfp-close:hover {
    color: #fff;
    background-color: #66676b;
}

#sign-up-dialog .mfp-close:before {
    font-size: 24px;
    font-family: 'ElegantIcons';
    content: "\4d";
}

.small-dialog-header {
    font-size: 18px;
    width: calc(100% + 60px);
    position: relative;
    left: -30px;
    top: 0;
    -webkit-border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    -ms-border-radius: 4px 4px;
    border-radius: 4px 4px;
    display: inline-block;
    background-color: #f6f6f6;
    padding: 18px 20px 15px 20px;
    margin-bottom: 30px;
}
.small-dialog-header h3 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 500;
}

#sign-up-dialog .form-group {
    position: relative;
}

#sign-up-dialog .form-group input.form-control {
    padding-left: 40px;
}

#sign-up-dialog .form-group i {
    font-size: 21px;
    font-size: 1.3125rem;
    position: absolute;
    left: 12px;
    top: 34px;
    color: #ccc;
    width: 25px;
    height: 25px;
    display: block;
    font-weight: 400 !important;
}

#sign-up-dialog .form-group i.icon_lock_alt {
    top: 36px;
}
.sign-up i{
    font-size: 33px;
}
@media only screen and (max-width: 992px) {
    ul#additional_links {
        float: none;
    }
}
@media only screen and (max-width: 767px) {
    .reviews-container .review-box{
        padding-right: 0;
    }
}

@media (min-width: 550px) {
    html.mm-opening .mm-menu.mm-opened ~ .mm-slideout {
        -webkit-transform: translate(-440px, 0);
        -ms-transform: translate(-440px, 0);
        transform: translate(-440px, 0);
        -webkit-transform: translate3d(-440px, 0, 0);
        transform: translate3d(-440px, 0, 0);
    }
}
/*RTL end*/