@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700,800');

body {
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    font-size: 1rem;
    text-align: right;
}

#logo img {
    max-width: 110px;
}

.box_grid ul li:first-child {
    direction: ltr;
}

.score span {
    margin-right: 0;
    margin-left: 7px;
}

.box_grid ul li {
    margin-right: 0;
    margin-left: 15px;
}

.box_grid ul li:last-child {
    float: left;
    margin-left: 0;
}

.box_grid ul li:first-child i {
    float: right;
    margin-left: 3px;
    position: relative;
    top: 3px;
}

.score strong {
    border-radius: 5px 5px 0 5px;
}

ul#top_menu li a.cart-menu-btn strong {
    left: -10px;
    right: auto;
}

.btn_home_align {
    text-align: left;
}

a.box_news figure {
    right: 0;
    left: auto;
}

a.box_news {
    padding-right: 230px;
    padding-left: 0;
}

i.arrow_carrot-right {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    display: inline-block;
    position: relative;
    top: 5px;
    font-size: 18px;
}

@media only screen and (min-width: 992px) {
    .main-menu {
        padding-top: 8px;
    }

    ul#top_menu {
        padding-top: 12px;
    }
}

@media (max-width: 767px) {
    a.box_news {
        min-height: inherit;
        padding-right: 0;
    }
}

/*RTL Start*/
#logo, .btn_mobile {
    float: right;
}

ul#top_menu {
    float: left;
}

.mm-listview, .mm-listview > li {
    text-align: right;
}

.mm-listview > li > a, .mm-listview > li > span {
    padding: 10px 20px 10px 10px;
}

.mm-listview em.mm-counter + .mm-next.mm-fullsubopen + a, .mm-listview em.mm-counter +
.mm-next.mm-fullsubopen + span, em.mm-counter + a.mm-fullsubopen + a, em.mm-counter + a.mm-fullsubopen + span {
    padding-right: 20px;
    padding-left: 90px;
}

.mm-listview > li:not(.mm-divider):after {
    right: 20px;
    left: 0;
}

em.mm-counter {
    right: auto;
    left: 45px;
}

.mm-next:after {
    right: auto;
    left: 23px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

html.mm-opening .mm-menu.mm-opened ~ .mm-slideout {
    -webkit-transform: translate(-80%, 0);
    -ms-transform: translate(-80%, 0);
    transform: translate(-80%, 0);
    -webkit-transform: translate3d(-80%, 0, 0);
    transform: translate3d(-80%, 0, 0);
}

.custom-search-input-2 input[type='submit'] {
    border-radius: 3px 0 0 3px;
    background-color: #ac4056;
}

.custom-search-input-2 input[type='submit']:hover {
    background-color: #9361aa;
    color: #fff;
}

a, .switch-field label:hover, a.btn_map:hover {
    color: #ac4056;
}

.main_title_2 span em, .main_title_3 span em {
    background-color: #ac4056;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, .score strong {
    background: #9361aa !important;
}

a.boxed_list:hover i {
    color: #9361aa;
}

a.btn_map:before {
    margin-right: 0;
    margin-left: 5px;
}

.nice-select {
    padding-right: 15px;
    padding-left: 27px;
    text-align: right !important;
}

.nice-select:after {
    left: 20px;
    right: auto;
}

.nice-select .list {
    min-height: 25vh;
}

.filter_type small {
    float: right;
}

.switchery {
    float: left;
}

a#filters_col_bt:before {
    left: 0;
    right: auto;
}

a.btn_map, .switch-field label {
    font-size: 0.8rem;
}

.filters_listing ul li:first-child {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.filters_listing ul li:nth-child(2) {
    float: left;
}

.switch-field label {
    float: right;
    border-right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.switch-field label:last-child {
    border-left: 0 !important;
}

footer ul.links li a:after {
    top: 0;
    margin-right: 5px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

footer ul.links li a:hover {
    -webkit-transform: translate(-5px, 0);
    -moz-transform: translate(-5px, 0);
    -ms-transform: translate(-5px, 0);
    -o-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
}

.panel-dropdown {
    text-align: right;
}

.panel-dropdown a:after {
    left: 0;
    right: auto;
}

.qtyTotal {
    right: 2px;
    left: auto;
}

.custom-search-input-2 i {
    left: 1px;
    right: auto;
    padding-left: 15px;
    padding-right: 0;
}

.custom-search-input-2 input {
    border-left: 1px solid #d2d8dd;
    border-right: 0;
    padding-right: 15px;
    padding-left: 10px;
}

.datepicker {
    direction: rtl;
}

.datepicker.dropdown-menu {
    right: initial;
}

.custom-search-input-2 input[type='submit'] {
    font-size: 1rem;
}

.box_grid a.wish_bt {
    left: 15px;
    right: auto;
}

.box_grid figure small {
    right: 20px;
    left: auto;
}

.float-right {
    float: left !important;
}

.float-left {
    float: right !important;
}

footer .col-lg-5 p > img {
    max-width: 100px;
    height: auto;
}

footer ul.contacts li a i {
    float: right;
    margin-right: 0;
    margin-left: 10px;
    position: relative;
    top: 3px;
}

ul#additional_links {
    float: left;
}

ul#footer-selector li {
    float: right;
}

#newsletter input[type='submit'] {
    left: 0;
    right: auto;
    border-radius: 3px 0 0 3px;
}

.styled-select {
    padding-left: 35px;
    padding-right: 0;
}

.styled-select#currency-selector:after {
    left: 10px;
    right: auto;
}

.styled-select select {
    padding-right: 10px;
    padding-left: 0;
}

.styled-select#lang-selector:after {
    left: 10px;
    right: auto;
}

ul#additional_links li:after {
    right: 10px;
    left: auto;
}

#toTop:hover, a.btn_1:hover, .btn_1:hover {
    background-color: #9361aa;
}

a.btn_1, .btn_1 {
    background: #ac4056;
}

a.box_news figure figcaption {
    left: 0;
    right: auto;
}

.small-dialog-header {
    right: -30px;
    left: auto;
    text-align: right;
}

#sign-up-dialog .mfp-close, #lang-dialog .mfp-close {
    left: 20px;
    right: auto;
}

#sign-up-dialog .form-group input.form-control {
    padding-left: 10px;
    padding-right: 40px !important;
}

#sign-up-dialog .form-group i {
    right: 12px;
    left: auto;
}

.my-toggle {
    left: 0 !important;
    right: auto !important;
    margin-left: 5px !important;
}

.container_check {
    padding-left: 0;
    padding-right: 35px;
}

.container_check .checkmark {
    right: 0;
    left: auto;
    margin-left: 10px;
    margin-right: 0;
}

.animated .block-vertical {
    background: #9260a9;
}

.hero_in a.btn_photos {
    right: 20px;
    left: auto;
}

.mfp-arrow {
    left: 0;
}

.secondary_nav ul li {
    margin-left: 20px;
    margin-right: 0;
}

ul.bullets li {
    padding-right: 20px;
    padding-left: 0;
}

ul.bullets li:before {
    right: 0;
    left: auto;
}

ul.hotel_facilities li img {
    margin-left: 10px;
    margin-right: 0;
}

#review_summary {
    border-radius: 5px 5px 0 5px;
    background-color: #ac4056;
}

.reviews-container .progress-bar {
    background-color: #ac4056;
}

.reviews-container .rev-thumb {
    right: 0;
    left: auto;
}

.reviews-container .review-box {
    padding-right: 100px;
    padding-left: 0;
}

.nice-select .option {
    text-align: right;
}

.box_detail .price .score {
    float: left;
}

.score span {
    text-align: left;
}

.booking .form-group i {
    left: 1px;
    right: auto;
    padding-left: 10px;
    padding-right: 0;
}

.hero_in .wrapper h1 span {
    background-color: #9260a9;
}

.hero_in a.btn_photos:hover {
    color: #ac4056;
}

a.btn_1.full-width.purchase:hover, .btn_1.full-width.purchase:hover {
    background-color: #9260a9;
}

.contact_info ul li h4 {
    color: #9260a9;
}

.rating i {
    margin-left: 2px;
    margin-right: 0;
    display: inline-block;
}

a.btn_1.outline:hover, .btn_1.outline:hover {
    background-color: #9260a9;
    border-color: #9260a9;
}

.mm-menu, .mm-panels, .mm-panels > .mm-panel {
    z-index: 9999 !important;
}

#sign-up-dialog .form-group, #sign-in-dialog .form-group {
    text-align: right;
}

@media only screen and (min-width: 992px) {
    .main-menu {
        float: left;
        left: 15px;
        right: auto;
    }

    .main-menu > ul > li span > a {
        font-size: 1rem;
    }

    header.sticky .main-menu > ul > li span:hover > a, .main-menu ul ul li:hover > a {
        color: #ac4056 !important;
    }

    .main-menu > ul > li span > a:hover {
        color: #ac4056 !important;
    }
}

#sign-up-dialog {
    background: #fff;
    padding: 30px;
    padding-top: 0;
    text-align: left;
    max-width: 400px;
    margin: 40px auto;
    position: relative;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

/* Popup close button*/
#sign-up-dialog .mfp-close,
#lang-dialog .mfp-close {
    color: #666;
    background-color: #e4e4e4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    top: 12px;
    width: 32px;
    height: 32px;
    line-height: 32px;
}

#sign-in-dialog .mfp-close {
    left: 20px;
    right: auto;
}

#sign-up-dialog .mfp-close:hover,
#lang-dialog .mfp-close:hover {
    color: #fff;
    background-color: #66676b;
}

#sign-up-dialog .mfp-close:before {
    font-size: 24px;
    font-family: 'ElegantIcons';
    content: "\4d";
}

.small-dialog-header {
    font-size: 18px;
    width: calc(100% + 60px);
    position: relative;
    left: -30px;
    top: 0;
    -webkit-border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    -ms-border-radius: 4px 4px;
    border-radius: 4px 4px;
    display: inline-block;
    background-color: #f6f6f6;
    padding: 18px 20px 15px 20px;
    margin-bottom: 30px;
}

.small-dialog-header h3 {
    padding: 0;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
}

#sign-up-dialog .form-group {
    position: relative;
}

#sign-up-dialog .form-group input.form-control {
    padding-left: 40px;
}

#sign-up-dialog .form-group i {
    font-size: 21px;
    font-size: 1.3125rem;
    position: absolute;
    left: 12px;
    top: 34px;
    color: #ccc;
    width: 25px;
    height: 25px;
    display: block;
    font-weight: 400 !important;
}

#sign-up-dialog .form-group i.icon_lock_alt {
    top: 36px;
}

.sign-up i {
    font-size: 33px;
}

#login aside, #register aside {
    right: 0;
    left: auto;
}

ul#top_menu li a {
    display: block;
    width: 22px;
    height: 23px;
    position: relative;
    top: 2px;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

ul#top_menu li a#navbarDropdown {
    width: auto;
    font-size: 18px;
}

/*dsd;l;z*/
.header.sticky i.pe-7s-add-user,
.header.sticky ul#top_menu li a#navbarDropdown {
    color: #444;
}

/*-------- Blog --------*/
article.blog {
    min-height: 200px;
    margin-bottom: 30px;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

article.blog figure {
    height: 350px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}

@media (max-width: 991px) {
    article.blog figure {
        height: 250px;
    }
}

@media (max-width: 767px) {
    article.blog figure {
        height: 200px;
    }
}

article.blog figure .preview {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 2;
}

article.blog figure .preview span {
    background-color: #fcfcfc;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    color: #222;
    font-size: 0.75rem;
    padding: 5px 10px;
}

article.blog figure:hover .preview {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

article.blog figure img {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -moz-transition: 0.3s;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: auto;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

article.blog figure img:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
}

@media (max-width: 991px) {
    article.blog figure img {
        height: inherit;
        max-width: 100%;
    }
}

article.blog .post_info {
    padding: 30px;
    position: relative;
    box-sizing: border-box;
    height: 100%;
}

article.blog .post_info small {
    font-weight: 500;
    color: #999;
}

article.blog .post_info h3 {
    font-size: 1.125rem;
}

article.blog .post_info h3 a {
    color: #333;
}

article.blog .post_info h3 a:hover {
    color: #b14b5e;
}

article.blog .post_info ul {
    margin: 0 -30px 0 -30px;
    padding: 10px 15px 0 15px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    border-top: 1px solid #ededed;
}

article.blog .post_info ul li {
    display: inline-block;
    position: relative;
    padding: 12px 0 0 55px;
    font-weight: 500;
    font-size: 0.75rem;
    color: #999;
}

article.blog .post_info ul li .thumb {
    width: 40px;
    height: 40px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

article.blog .post_info ul li .thumb img {
    width: 40px;
    height: auto;
}

article.blog .post_info ul li:last-child {
    float: right;
    padding-left: 0;
}

@media (max-width: 991px) {
    article.blog .post_info ul {
        position: static;
        width: auto;
    }
}

/*Blog Sidebar*/
.alignleft {
    float: right;
    margin: 0 0 10px 15px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.alignleft img {
    width: auto;
    height: 80px;
}

.comments-list {
    padding: 0;
    list-style: none;
}

.comments-list h3 {
    font-size: 14px;
    padding: 0 0 0;
    margin-bottom: 0;
    margin-top: 5px;
    text-transform: capitalize;
    letter-spacing: 0;
}

.comments-list h3 a {
    color: #333;
}

.comments-list h3 a:hover {
    color: #b14b5e;
}

.comments-list li {
    margin-bottom: 10px;
    display: table;
    width: 100%;
}

.comments-list li:last-child {
    margin-bottom: 0;
}

.comments-list small {
    color: #999999;
}

.widget-title {
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

.widget-title h4 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    line-height: 1;
    font-size: 15px;
    font-size: 0.9375rem;
}

.widget {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.widget ul.cats {
    list-style: none;
    padding: 0;
}

.widget ul.cats li {
    padding: 0 0 5px 2px;
    position: relative;
}

.widget ul.cats a {
    color: #333;
}

.widget ul.cats a:hover {
    color: #b14b5e;
}

.widget ul.cats a span {
    position: absolute;
    left: 0;
}

.tags a {
    background-color: #fff;
    padding: 3px 10px;
    font-size: 13px;
    margin: 0 0 4px;
    letter-spacing: 0.4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
}

.tags a:hover {
    background-color: #b14b5e;
    color: #fff;
}

/*Blog Post*/
.singlepost {
    background-color: #fff;
    padding: 30px 30px 5px 30px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

.singlepost h1 {
    font-size: 32px;
    font-size: 2rem;
}

@media (max-width: 767px) {
    .singlepost h1 {
        font-size: 21px;
        font-size: 1.3125rem;
    }
}

.singlepost p {
    line-height: 1.8;
}

.postmeta {
    padding-bottom: 10px;
}

.postmeta ul {
    margin-bottom: 10px;
}

.postmeta ul li {
    display: inline-block;
    margin: 0 10px 5px 0;
}

.postmeta ul li a {
    color: #999;
}

.postmeta ul li a i {
    float: right;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.postmeta ul li a:hover {
    color: #b14b5e;
}

#comments {
    padding: 10px 0 0px 0;
    margin-bottom: 30px;
}

#comments ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#comments ul li {
    padding: 25px 0 0 0;
    list-style: none;
}

#comments .replied-to {
    margin-left: 35px;
}

@media (max-width: 767px) {
    #comments .replied-to {
        margin-left: 20px;
    }
}

.avatar {
    float: left;
    margin-right: 25px;
    width: 68px;
    height: 68px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

@media (max-width: 767px) {
    .avatar {
        float: none;
        margin: 0 0 5px 0;
    }
}

.avatar img {
    width: 68px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.comment_right {
    display: table;
    border: 2px solid #ededed;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 20px 20px 0 20px;
    position: relative;
}

.comment_info {
    padding-bottom: 7px;
}

.comment_info span {
    padding: 0 10px;
}

.category-list li a {
    display: block;
    background: #f8f8f8;
    border-radius: 3px;
    padding: 3px 10px;
}

.filter-tag a {
    background: #f8f8f8;
}

.category-list li a:hover, li.active-link a, a.active-tag {
    color: #fff;
    background-color: #b14b5e;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #ac4056 !important;
}

.filter_type h6 {
    font-size: 1rem;
}

#login aside {
    max-height: 100vh;
    overflow-y: auto;

}

#login aside::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#login aside::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#login aside::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ac4056;
}
#login aside .copy, #register aside .copy{
    position: relative;
    margin-bottom: -40px;
}
.container_check input:checked ~ .checkmark{
    background-color: #9e3b4f;
}
ul#top_menu li a{
    width: auto;
    height: auto;
    line-height: 22px;
}
@media (max-width: 991px) {
    ul#top_menu li a.sign-up {
        top: -4px;
    }
}

@media only screen and (max-width: 992px) {
    ul#additional_links {
        float: none;
    }

    ul#top_menu li a#navbarDropdown {
        margin-left: -49px;
    }
}

@media only screen and (max-width: 767px) {
    .reviews-container .review-box {
        padding-right: 0;
    }

    ul#top_menu li:first-child {
        display: block;
    }
}

@media (min-width: 550px) {
    html.mm-opening .mm-menu.mm-opened ~ .mm-slideout {
        -webkit-transform: translate(-440px, 0);
        -ms-transform: translate(-440px, 0);
        transform: translate(-440px, 0);
        -webkit-transform: translate3d(-440px, 0, 0);
        transform: translate3d(-440px, 0, 0);
    }
}

/*RTL end*/